html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
body{
  background-color: #0b4d0a;
  color: #fafafa
}
h1, h2 {
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1d6822;  
}
.list-item{
  display: inline-block;
  padding-right: 40px;
}
ul {
  list-style: none;
}
img {
  width:100%;
}
table {
  width: 100%; }

table, td, th {
  border: 2px solid #00e1ff;}
#head-img {
  background-image: url("/img/back.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
}
#me {
  width: 200px;
  float: left;
}
#head-text {
  text-align: left;
  padding: 150px 100px;
}